.main-container {
  background-color: #16a085;
  /* background-color: #f4f4f4;
  background-image: url("/public/assets/bgmedico.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  height: 100vh; */
  /* margin-top: -17px; */
}
